@charset "UTF-8";

main.horoscope-details {
    max-width: 960px;
}

main .title-bar {
    position: relative;
    margin: 0 0 1.25rem;
    padding: 0 60px;
}

main .title-bar .back-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

main .title-bar h2 {
    text-align: center;
    margin: 0;
    font: 100 3.125rem/1.2 'OpenSansLight', Arial, Helvetica, sans-serif;
}

main date {
    text-align: center;
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 1.25rem;
}

main .text {
    font-size: 1.0625rem;
    line-height: 1.8125rem;
    text-align: justify;
    overflow: hidden;
}

main .text p {
    margin: 0 0 1.25rem;
}

main img {
    float: left;
    margin: 0 1.25rem 1.25rem 0;
}

main.compatibility-details {
    max-width: 960px;
}

.compatibility-form {
    padding: 3rem 0;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.compatibility-form .column {
    width: 47%;
}

.compatibility-form label {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.compatibility-form select {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.compatibility-results {
    text-align: center;
    font-size: 1.2rem;
}

.compatibility-results p {
    margin: 0;
}
.compatibility-results #result {
    display: none;
}
